.ipynb_checkpoints/
.ipynb_checkpoints/*
__pycache__/
__pycache__/*
lib/__pycache__/
lib/__pycache__/*
lib/__pycache__/createCoco.cpython-37.pyc
lib/rescale_intensity.c*
lib/rescale_intensity.html
lib/build/
lib/build/*
lib/rescale_intensity.c
# All of the above files are cache files generated at runtime and don't need to be tracked
ReadGUI/
ReadGUI/*
OutputGUI/
OutputGUI/*
# The above files are directories to be used by the GUI for input and output
.vscode/
debugScripts/
# The above files are local files