.ipynb_checkpoints/
.ipynb_checkpoints/*
__pycache__/
__pycache__/*
lib/__pycache__/
lib/__pycache__/*
TDSCOCO/
TDSCOCO/*
cropImages/
cropImages/*
pics/*
training_datasets/
.vscode/
lib/__pycache__/createCoco.cpython-37.pyc
